.navbarr{
    height: 104px;
    position: fixed;
    z-index: 2;
    background-color: white;
    width: 65%;
    display: flex;
    justify-content: space-around;
    margin-top: 56px;
    align-items: center;
    

    .navtexts{
        display: flex;
    gap: 13%;
    justify-content: center;
    align-items: center;
    }

    .phone{
        display: flex;
        align-items: center;
        background-color: #ffb606;
        color: white;
        height: 104px;
    }
}